<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get CRUD</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <p>Display crud</p>
    <table style="width:100%">
        <tr>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Address</th>
        </tr>
        <% for(let i=0; i< dataTable.length; i++ ) { %>
            <tr>
                <td>
                    <%= dataTable[i].email %>
                </td>
                <td>
                    <%= dataTable[i].firstname %>
                </td>
                <td>
                    <%= dataTable[i].lastname %>
                </td>
                <td>
                    <%= dataTable[i].address %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>